language: ruby
branches:
  only:
    - ab-sassc-platform-independent
    - master
cache:
  bundler: true
  npm: true
sudo: required
services:
 - docker
before_install:
  # https://bundler.io/blog/2019/05/14/solutions-for-cant-find-gem-bundler-with-executable-bundle.html
  - gem install bundler -v "$(grep -A 1 "BUNDLED WITH" Gemfile.lock | tail -n 1)"
#install heroku CLI for deployment
before_script:
 - export HOME="/home/travis"
 - curl https://toolbelt.heroku.com/install.sh | sudo sh
# need node to compile assets
 - nvm install 13.1.0
 - nvm alias default 13.1.0
 - nvm use 13.1.0
script:
 # else views with TypeScript components will not render
 - RAILS_ENV=test bundle exec rails assets:precompile
 - RAILS_ENV=test bundle exec rails db:migrate
 - bundle exec rspec spec/
 - bundle exec rubocop

deploy:
  provider: script
  skip_cleanup: true
  script: ./deployment.sh
  on:
    all_branches: true
    condition: $TRAVIS_BRANCH =~ ^(ab-sassc-platform-independent|master)$
