<h1>Editing Lecture</h1>

<%= render 'form', lecture: @lecture, render_enrolment_key: true %>

<%= link_to 'Back', course_lecture_path(course_id:@lecture.course.id, id: @lecture.id) %> |
<%= link_to 'Delete', course_lecture_path(course_id:@lecture.course.id, id: @lecture.id), method: :delete, data: { confirm: 'Are you sure?' } %>
