<h1>New Lecture</h1>


<% content_for :action_right do %>
  <%= link_to 'Back', course_path(id: @course.id), :class => "btn btn-outline-secondary" %>
<% end %>

<%= render 'form', lecture: @lecture , render_enrolment_key: true do %>
<% end %>

