<h1>New Lecture</h1>


<% content_for :action_right do %>
  <%= link_to (fa_icon 'arrow-left', text: 'Back to Course'), course_path(id: @course.id), class: "btn btn-outline-primary" %>
<% end %>

<%= render 'form', lecture: @lecture , render_enrolment_key: true do %>
<% end %>

