<h1>Editing Poll</h1>

<%= render 'form', poll: @poll %>

<%= link_to 'Back', course_lecture_polls_path(course_id:@lecture.course.id, lecture_id:@lecture.id, poll:@poll)  %> |
<%= link_to 'Delete', course_lecture_poll_path(course_id:@lecture.course.id, id:@lecture.id, poll: @poll), method: :delete, data: { confirm: 'Are you sure?' } %>
