<h1>Editing Poll</h1>

<%= render 'form', lecture: @lecture %>

<%= link_to 'Back', lecture_polls_path(@lecture) %> |
<%= link_to 'Delete', lecture_polls_path(@lecture), method: :delete, data: { confirm: 'Are you sure?' } %>