<h1>Editing Poll</h1>

<%= render 'form', poll: @poll %>

<%= link_to 'Back', lecture_polls_path(@lecture, @poll) %> |
<%= link_to 'Delete', @lecture, method: :delete, data: { confirm: 'Are you sure?' } %>
