<h1>New Poll</h1>

<% content_for :action_left do %>
  <%= link_to (fa_icon 'arrow-left', text: 'Back'), course_lecture_polls_path(@lecture.course, @lecture), class: "btn btn-outline-primary" %>
<% end %>

<%= render 'form', poll: @poll %>
