<p>
  <strong>Title:</strong>
  <%= @poll.title %>
</p>

<p>
  <strong>Is multiselect:</strong>
  <%= @poll.is_multiselect %>
</p>

<%= link_to 'Edit', edit_poll_path(@poll) %> |
<%= link_to 'Back', polls_path %>
