
<div id="pollInformation">
  <p id="pollTitle">
    <%= @poll.title %> <br>
  </p>

  <p class="pollStatusInformation">
    <% if  @poll.is_multiselect? %>
    Multiselect enabled
    <% else %>
    Multiselect disabled
    <% end %>
     |
    <% if  @poll.is_active %>
      Active
    <% else %>
      Inactive
    <% end %>
  </p>
</div>


<h3>Voting Results</h3>
  <div>
    <%= react_component("PollResultApp",  {lecture_id: @lecture.id, poll_id: @poll.id, poll_option_ids: @poll.poll_options.map{|option| option.id}} ) %>
  </div>
  <% if !@poll.is_active? %>
    <p><strong>Total Number of Participants: </strong><%= Answer.where(poll_id: @poll.id).distinct.count(:student_id) %></p>
  <% end %>


<%= link_to 'Show all polls', lecture_polls_path(@lecture) %>
