<ul class="list-group mb-2">
  <% files.each do |file| %>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <div>
        <%= fa_icon 'file', :class => "text-info" %>
        <%= link_to file.filename, uploaded_file_path(file), target: "_self", class:"btn btn-link" %>
      </div>
      <div>
        <% if @current_user == file.author || @current_user == @course.creator %>
          <%=  link_to 'Delete File', file, method: :delete, class: "btn btn-sm btn-outline-danger", data: { confirm: 'Are you sure?' } %>
        <% end %>
      </div>
    </li>
  <% end %>
</ul>
