<h1>Editing Course</h1>

<% content_for :action_left do %>
  <%= link_to (fa_icon 'arrow-left', text: 'Back to Course'), @course, class: "btn btn-outline-primary" %>
<% end %>

<%= render 'form', course: @course, with_delete_button: true %>

