$gray-main: #C4C4C4;
$gray-dark: #828282; //Used for e.g. buttons
$gray-light: #F2F2F2; //Used for e.g. the lectures's navbar backgorund color
$black-main: #2C2C2C;
$orange-main: #F2DCC8; //Used for e.g. active elements in the main navbar
$orange-dark: #F2994A;