// Place all the styles related to the courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#fileTabsContent {
<<<<<<< HEAD
=======
	max-height: 300px;
>>>>>>> remotes/origin/dev
	overflow-y: auto;
    max-height:270px;
}
