// Place all the styles related to the courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#fileTabsContent {
	max-height: 300px;
	overflow-y: auto;
	position: relative;
}
