#updates {
  > div {
    overflow-y: scroll;
    height: 50vh;
  }

  div.questionsList {
    margin: 0;

    > ul {
      font-size: inherit !important;
      text-align: center;
      margin-bottom: 0;
      padding: 0 10px;
      
      &.is_lecturer {
        > li {
          cursor: pointer;
          &:hover {
            background-color: #d4fcd2;
          }
        }
      }

      > li:last-child {
        margin-bottom: 0;
      }
    }
  }
}

@media(max-width: 500px) {
  #updates > div {
      overflow-y: unset;
      height: auto;
  }
}
