// Place all the styles related to the Polls controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
// Color Scheme
@import "colorScheme";

.green-checkmark {
  color: green;
}

.red-cross {
  color: red;
}

#pollInformation {
  border: 1px solid $black-main;
  text-color: $black-main;
  border-radius: 3px;
  margin-bottom: 10px;
  word-break: break-all;
  text-align: center;
  > #pollTitle {
    font-size: 36px;
  }
  > .pollStatusInformation {
    font-size: 16px;
  }
}