// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

form#questionForm {
  > textarea {
    width: 100%;
    border: 1px solid #aaa;
    border-radius: 3px;
    resize: none !important;
  }
  > button {
    float: right;
  }
}

ul.questionsList {
  clear: both;
  list-style-type: none !important;
  margin: 70px 0;
  padding: 0;

  &.is_lecturer {
    font-size: 36px;
  }
  > li {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #aaa;
    border-radius: 3px;
    margin-bottom: 10px;
    word-break: break-all;
    > .questionUpvotes {
      padding: 10px;
      > .arrow {
        cursor: pointer;
        width: 0;
        height: 0;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-bottom: 25px solid #888;
        &:hover, &:focus, &:active {
          border-bottom-color: #000;
        }
      }
      > .count {
        font-size: 25px;
        text-align: center;
        width: 100%;
        margin: 0 !important;
      }
      &.disabled {
        > .arrow {
          border-bottom-color: #AAA;
          cursor: default !important;
        }
      }
    }
    > .questionContent {
      flex-grow: 1;
      padding: 10px 0;
    }
    > button {
      float: right;
      color: #333;
      background-color: white;
      margin: 20px;
    }
    > .btn-sm{
      min-width: 110px;
    }
    > .btn-lg{
      min-width: 165px;
    }
  }
}
