// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

form#questionForm {
  > textarea {
    width: 100%;
    border: 1px solid #aaa;
    border-radius: 3px;
    resize: none !important;
  }
  > button {
    float: right;
  }
}

div.questionsList {
  clear: both;
  margin: 70px 0;
  > .questionsFilter {
    margin-bottom: 15px;
    float: right;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    > .sorting {
      display: inline-block;
      color: #888;
      &::after {
        content: "";
        margin-left: 5px;
        display: inline-block;
        vertical-align: middle;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 15px solid #888;
      }
      &:active, &:hover, &:focus {
        color: #000;
        &::after {
          border-top-color: #000;
        }
      }
    }
  }
  > ul {
    clear: both;
    list-style-type: none !important;
    padding: 0;

    &.is_lecturer {
      font-size: 36px;
    }
    > li {
      display:flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      border: 1px solid #aaa;
      border-radius: 3px;
      margin-bottom: 10px;
      word-break: break-all;
      > .questionUpvotes {
        padding: 10px;
        > .arrow {
          cursor: pointer;
          width: 0;
          height: 0;
          border-left: 15px solid transparent;
          border-right: 15px solid transparent;
          border-bottom: 25px solid #888;
          &:hover, &:focus, &:active {
            border-bottom-color: #000;
          }
        }
        > .count {
          font-size: 25px;
          text-align: center;
          width: 100%;
          margin: 0 !important;
        }
        &.disabled {
          > .arrow {
            border-bottom-color: #DDD;
            cursor: default !important;
          }
        }
      }
      > .questionContent {
        flex-grow: 1;
        padding: 10px 0;
      }
      > button {
        float: right;
        color: #333;
        background-color: white;
        margin: 20px;
      }
      > .btn-sm{
        min-width: 110px;
      }
      > .btn-lg{
        min-width: 165px;
      }
    }
  }
}