<h1>User Settings</h1>
<h2>Email</h2>
<p><%= @current_user.email %></p>
<h2>Calendar Feed</h2>
<p></p>

<%= link_to "Back", :back, class:"btn btn-outline-secondary" %>
<%= link_to "Edit Profile", edit_user_registration_path, class:"btn btn-primary" %>