<h5>Email</h5>
<p><%= @current_user.email %></p>
<h5>Calendar Feed</h5>
<p></p>

<%= link_to "Back", root_path, class:"btn btn-primary" %>
<%= link_to "Edit Profile", edit_user_registration_path, class:"btn btn-primary" %>