<p>Email</p>
<h5><%= @current_user.email %></h5>
<p>Calender Feed</p>
<h2></h2>

<%= link_to "Back", root_path, class:"btn btn-primary" %>
<%= link_to "Edit Profile", edit_user_registration_path, class:"btn btn-primary" %>